
@{
    ViewData["Title"] = "Acces";
}
<div class="p-2 bg-danger mb-1 text-white">
    Erişim hakkınız bulunmamaktadır.
</div>
<a asp-action="Index" asp-controller="Home" class="btn btn-danger">Home</a>