<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link href="~/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title>_Layout</title>
</head>
<body class="m-1 p-1">
    @RenderBody()
    
</body>
</html>
